StateMachine/StateMachineBankBot.asl.json
{
    "Comment": "Prueba 01 de flujo de conversacion",
    "StartAt": "uno",
    "States": {
      "uno": {
        "Type": "Task",
        "Resource": "${SFPasoUnoArn}",
        "InputPath": "$",
        "OutputPath": "$",
        "Next": "motores"
      },
      "motores": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.estado",
            "StringEquals": "mensajex",
            "Next": "mensajex"
          },
          {
            "Variable": "$.estado",
            "StringEquals": "aclaracion",
            "Next": "aclaracion"
          },
          {
            "Variable": "$.estado",
            "StringEquals": "credito",
            "Next": "credito"
          },
          {
            "Variable": "$.estado",
            "StringEquals": "cuenta",
            "Next": "cuenta"
          },
          {
            "Variable": "$.estado",
            "StringEquals": "seguro",
            "Next": "seguro"
          }
        ]
      },
      "mensajex": {
        "Type": "Task",
        "Resource": "${SFMensajeXArn}",
        "InputPath": "$",
        "OutputPath": "$",
        "Next": "tres"
      },
      "aclaracion": {
        "Type": "Task",
        "Resource": "${SFAclaracionesArn}",
        "InputPath": "$",
        "OutputPath": "$",
        "Next": "tres"
      },
      "credito": {
        "Type": "Task",
        "Resource": "${SFCreditosArn}",
        "InputPath": "$",
        "OutputPath": "$",
        "Next": "tres"
      },
      "cuenta": {
        "Type": "Task",
        "Resource": "${SFCuentasArn}",
        "InputPath": "$",
        "OutputPath": "$",
        "Next": "tres"
      },
      "seguro": {
        "Type": "Task",
        "Resource": "${SFSegurosArn}",
        "InputPath": "$",
        "OutputPath": "$",
        "Next": "tres"
      },
      "tres": {
        "Type": "Task",
        "Resource": "${SFPasoTresArn}",
        "InputPath": "$",
        "OutputPath": "$",
        "End": true
      }
    }
  }